/*----------------------*\
*!   Gradient Headers   !*
\*----------------------*/

/*==== Gradients: Headers ====*/
:root .theme-light {
    /* Header gradients (light theme) */
    --h1-color: #82AAFF; /* Soft blue */
    --h1-gradient: #82AAFF, #89DDFF, #B2CCD6;
    --h2-color: #C792EA; /* Purple */
    --h2-gradient: #C792EA, #B388EB, #7C4DFF;
    --h3-color: #FFCB6B; /* Gold */
    --h3-gradient: #FFCB6B, #F78C6C, #FF5370;
    --h4-color: #80CBC4; /* Cyan */
    --h4-gradient: #80CBC4, #A3D4B9, #8796B0;
    --h5-color: #F07178; /* Coral */
    --h5-gradient: #F07178, #FF8A80, #FF869A;
    --h6-color: #B2CCD6; /* Muted blue */
    --h6-gradient: #B2CCD6, #8796B0, #676E95;
}

:root .theme-dark {
    /* Header gradients (dark theme) */
    --h1-color: #82AAFF; 
    --h1-gradient: #82AAFF, #697098, #89DDFF;
    --h2-color: #C792EA;
    --h2-gradient: #C792EA, #7C4DFF, #B388EB;
    --h3-color: #FFCB6B;
    --h3-gradient: #FFCB6B, #F78C6C, #FF9C6E;
    --h4-color: #80CBC4;
    --h4-gradient: #80CBC4, #8796B0, #A3D4B9;
    --h5-color: #F07178;
    --h5-gradient: #F07178, #FF869A, #FF5370;
    --h6-color: #B2CCD6;
    --h6-gradient: #B2CCD6, #676E95, #8796B0;
}
/** Gradient Headers **/

/* Fix formatting symbol colors */
.cm-formatting-header {
    color: inherit;
}

/* Add text-clipped background gradients */
.cm-header:not(.cm-formatting),
:is(h1, h2, h3, h4, h5, h6) {
    background: linear-gradient(to right, var(--gradient-header));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
}

/* Apply the gradient variables */
.cm-header-1,
h1 {
    --gradient-header: var(--h1-gradient);
}

.cm-header-2,
h2 {
    --gradient-header: var(--h2-gradient);
}

.cm-header-3,
h3 {
    --gradient-header: var(--h3-gradient);
}

.cm-header-4,
h4 {
    --gradient-header: var(--h4-gradient);
}

.cm-header-5,
h5 {
    --gradient-header: var(--h5-gradient);
}

.cm-header-6,
h6 {
    --gradient-header: var(--h6-gradient);
}
